/* i excluded this because the transparent header bar actually makes the site feel a little more spacious */
/* 
.md-header {
  background-color: var(--md-default-bg-color);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
*, *::before, *::after {
  animation-duration: 0ms !important;
  transition-duration: 0ms !important;
}
*/


/*
.md-header {
  background-color: var(--md-primary-fg-color) !important;
  backdrop-filter: none !important;
}
*/
